/* Define Basic Configurations */


:root{
    --half-rem: 0.5rem;
    --one-rem: 1rem;
    --one-half-rem: 1.5rem;
    --two-rem: 2rem;
    --two_half-rem: 2.5rem;
    --three-rem: 3rem;
    --v-8px: 8px;
    --v-10px: 10px;
    --v-12px: 12px;
    --v-14px: 14px;
    --v-15px: 15px;
    --v-16px: 16px;
    --v-18px: 18px;
    --v-20px: 20px;
    --v-22px: 22px;
    --v-24px: 24px;
    --v-25px: 25px;
    --v-26px: 26px;
    --v-30px: 30px;
    --v-32px: 32px;
    --fz-10: 10px;
    --fz-11: 11px;
    --fz-12: 12px;
    --fz-14: 14px;
    --fz-16: 16px;
    --fz-18: 18px;
    --fz-20: 20px;
    --fz-24: 24px;
    --fz-30: 30px;
    --fz-32: 32px;
    --fz-35: 35px;
    --fz-36: 36px;
    --fz-40: 40px;
    --fz-48: 48px;
    --fz-60: 60px;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
}



body {
    font-family: 'Inter', sans-serif;
}

.custom-container{
    padding-inline: 0;
}

/* End of Basic Configurations */


/* navBar */

.navbar{
 border-bottom: #F5F7F9 solid 2px !important;
}

.fa-address-book {
    background: linear-gradient(to right, #7D24FD,#5139F7);
    width: 15px;
    height: 15px;
    box-shadow: 0 5px 10px -7px gray;
    padding: var(--v-18px);
    border-radius: var(--half-rem);
}

h1{
    font-size: var(--fz-16);
    color: oklch(0.21 0.034 264.665);
}

.h1-p{
    font-size: var(--fz-12);
    font-weight: var(--fw-500);
    color: oklch(0.551 0.027 264.364);
}

.profile-picture{
       width: 40px;
    height: 40px;
    border-radius: var(--v-10px);
    box-shadow: 0 5px 10px -7px gray;
}


.fa-bell,
.fa-gear{
    color: #6A7282;
    background-color: transparent;
    padding-inline: var(--v-20px);
    border-radius: var(--v-12px);
    transition: all 0.3s ease;
}

.fa-bell:hover,
.fa-gear:hover{
    color: #364153;
    background-color: #F3F4F6;
}


.add-contact{
    background: linear-gradient(to right, #7D24FD,#5139F7);
    transition: all 0.3s ease;
    padding-inline: var(--v-12px);
    padding-block: var(--v-8px);
    border-radius: var(--v-12px);
    font-size: var(--fz-14);
}

.add-contact:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 9px 2px rgba(139, 92, 246, 0.3);
}
/* End Of navBar */

/* Main Card */

.main-card{
    /* padding-top: 96px; */
    background: linear-gradient(to right, #F8FAFC, #EEF5FD);
}

.info-card{
    padding:  var(--v-20px);
    transition: all 0.3s ease;
    box-shadow: 0 0 5px 2px #E4E5E7;
}

.info-card:hover {
    box-shadow: 0 6px 10px -5px #DFE1E2;
}
.info-card .icon{
    height: 15px;
    padding: var(--v-24px);
    border-radius: var(--v-12px);
}

.fa-users{
    background: linear-gradient(to right, #2374FF,#1B68FE);
    box-shadow: 0 7px 10px 2px #d4e5fd;
}

#info-cards .fa-star{
    background: linear-gradient(to right, #FFA100,#FF8300);
    box-shadow: 0 7px 10px 2px #FFEAC8;
    
}
#info-cards .fa-heart-pulse{
    background: linear-gradient(to right, #F91447,#EF002D);
    box-shadow: 0 7px 10px 2px #FFCFDB;
    
}


.info-card .info-name{
    font-size: var(--fz-12);
    color: oklch(0.551 0.027 264.364);
}


.info-card .info-number{
    color: oklch(0.21 0.034 264.665);
    font-size: var(--fz-24);
    font-weight: var(--fw-500);
}

.title{
    font-size: var(--fz-30);
    color: oklch(0.21 0.034 264.665);
}


.title-des{
    font-size: var(--fz-14);
    color: oklch(0.551 0.027 264.364);
}

.contact-search{
    border: 1px solid #e3e7f5;
    transition: all 0.3s ease;
}

.contact-search:focus-within{
    border: 1px solid #B895FF;
}

.contact-search .form-control {
    display: inline;
    width: 88%;
    padding: 0;
    color: #A6A1AF !important;
    border: transparent !important;
}

.form-control::placeholder
,.fa-magnifying-glass{
    color: #99A1AF;
    font-size: var(--fz-12);
    
}

.contact-search .form-control:focus {
   box-shadow: 0 0 0 0 transparent ;
}


.favorites-section
{
    border: 2px solid gainsboro;
   background: linear-gradient(to right, #FFFBEB,#FFF7ED);

}

.emergency-section{
    border: 2px solid gainsboro;
   background: linear-gradient(to right, #FFF1F2,#FEF2F2);

}



.favorites-section .fa-star{
    background: linear-gradient(to right, #FFA100,#FF8300);
    box-shadow: 0 7px 10px 2px #FFEAC8;
    
}
.emergency-section .fa-heart-pulse{
    background: linear-gradient(to right, #F91447,#EF002D);
    box-shadow: 0 7px 10px 2px #FFCFDB;
    
}





.favorites-section .icon,
.emergency-section .icon {
    height: var(--v-15px);
    padding: var(--v-20px);
    border-radius: 8px;
    font-size: var(--v-15px);
}



.favorites-section .name
,.emergency-section .name{
    color:oklch(0.21 0.034 264.665);
    font-size: var(--fz-16);

}

.favorites-section .des,
.emergency-section .des{
    color:oklch(0.551 0.027 264.364);
    font-size: var(--fz-11);
}

.no-favorites,
.no-emergency{
    font-size: var(--fz-14);
    height: 200px;
    color:oklch(0.707 0.022 261.325);
    border-bottom-right-radius: var(--one-rem);
    border-bottom-left-radius: var(--one-rem);
}
.justify-border{
    border-bottom:2px  solid gainsboro;
}

.has-favorites,
.has-emergency{
    height: 200px;
    border-bottom-right-radius: var(--one-rem);
    border-bottom-left-radius: var(--one-rem);
}

.favorite-item,
.emergency-item{
    cursor: pointer;
    background-color: #F9FAFB;
    transition: 0.3s all ease;
    border: gainsboro solid 1px;
}

.favorite-item:hover{
    background-color: #FFFBEB;
    border: #FEF0B8 solid 1px;
}
.emergency-item:hover{
    background-color: #FFF1F2;
    border: #FFDFE2 solid 1px;
}

.favorite-item .fa-phone{
    color: #00BC7D;
    background-color: #D0FAE5;
}

.favorite-item:hover .fa-phone
{
    color: white;
    background-color: #00BC7D;
}


.emergency-item .fa-phone{
    color: #FF2056;
    background-color: #FFE4E6;
}

.emergency-item:hover .fa-phone{
    color: white;
    background-color: #FF2056;
}

.favorite-item .fa-phone ,
.emergency-item .fa-phone {
    transition: 0.3s all ease;
    padding-inline: var(--v-18px);
    font-size: var(--fz-14);
    padding-block: var(--v-12px);
}


.favorite-item .name,
.emergency-item .name
{
    font-size: var(--fz-14);
    color: oklch(0.21 0.034 264.665);
}

.favorite-item .des,
.emergency-item .des{
    font-size: var(--fz-12);
    color: oklch(0.551 0.027 264.364);
}

.favorite-item .icon ,
.emergency-item .icon {
    height: 15px;
    padding-inline: var(--v-16px);
    border-radius: var(--v-10px);
    background: linear-gradient(to right, #F91660,#EE006D);
    padding-block: var(--v-22px);
    font-size: var(--fz-14);
     

}

.has-favorites::-webkit-scrollbar,
.has-emergency::-webkit-scrollbar {
    display: none;
}

.has-favorites,
.has-emergency {
    -ms-overflow-style: none;  
    scrollbar-width: none;    
    overflow-y: scroll;
}



.contact-card{
    padding:  var(--v-20px);
    transition: all 0.3s ease;
    box-shadow: 0 0 5px 2px #E4E5E7;
}

.contact-card:hover {
    box-shadow: 0 6px 10px -5px #DFE1E2;
}
.contact-card .icon{
    height: 15px;
    padding-inline: var(--v-26px);
    border-radius: var(--v-10px);
    background: linear-gradient(to right, #F91660,#EE006D);
    padding-block: var(--v-30px);
    font-size: var(--fz-14);
}
.contact-card .icon .fa-heart-pulse {
    position: absolute;
    top: 78%;
    bottom: 0;
    right: -1px;
    border-radius: 50%;
    font-size: 8px;
    padding: 10px;
    background-color: #FF2056;
    border: 2px white solid;
}
.contact-card .icon .fa-star {
    position: absolute;
    top: -10px;
    right: -1px;
    border-radius: 50%;
    font-size: 8px;
    padding: 10px;
    background-color: #FFB900;
    height: 12px;
    border: 2px white solid;
}
.contacts-container{
    height: 412px;
}

.contacts-container::-webkit-scrollbar {
    display: none;
}

.contacts-container {
    -ms-overflow-style: none;  
    scrollbar-width: none;    
    overflow-y: scroll;
    overflow-x: hidden;
}



.contact-card .contact-name{
    font-size: var(--fz-16);
    color: oklch(0.551 0.027 264.364);
    color:oklch(0.21 0.034 264.665);
}


.contact-card .contact-number{
    color: oklch(0.21 0.034 264.665);
    font-size: var(--fz-14);
    color: oklch(0.551 0.027 264.364);
}

.contact-card .icon2 {
    transition: 0.3s all ease;
    padding-inline: var(--v-14px);
    font-size: var(--fz-12);
    padding-block: var(--v-10px);
}

.contact-card .fa-phone{
    color: #155DFC;
    background-color: #DBEAFE;
}

.contact-card .fa-envelope{
    color: #7F22FE;
    background-color: #EDE9FE;
}
.contact-card .fa-location-dot{
    color: #009966;
    background-color: #D0FAE5;
}


.contact-card .icon2-des{
    color: oklch(0.446 0.03 256.802);
    font-size: var(--fz-14);
}


.group-type{
    font-size: var(--fz-11);
    font-weight: var(--fw-500);
}

.School{
   background-color: #FEF3C6;
    color: oklch(0.555 0.163 48.998);
}

.Family{
   color: oklch(0.488 0.243 264.376);
   background-color: #DBEAFE;
}

.Friends{
   background-color: #DBFCE7;
    color: oklch(0.527 0.154 150.069);
}

.Work{
   background-color: #F3E8FF;
    color: oklch(0.496 0.265 301.924)
;
}

.Others{
   background-color: #F3F4F6;
    color: oklch(0.373 0.034 259.733)
;
}

.contact-card .emergency-entered .fa-heart-pulse{
    font-size: var(--fz-14);
    color: oklch(0.586 0.253 17.585);
}

.contact-card .emergency-entered {
    background-color: #FFF1F2;
    font-weight: var(--fw-500);
}

.emergency-choosed{
    color: oklch(0.586 0.253 17.585);
    font-size: var(--fz-11);
}

.contact-card-footer{
    border-top: solid 2px #F7F7F9;
}

.contact-card-footer .fa-phone{
    color: #00BC7D;
    background-color: #D0FAE5;
}

.contact-card-footer .fa-phone:hover 
{
    color: white;
    background-color: #00BC7D;
}

.contact-card-footer .fa-envelope{
    color: #7F22FE;
    background-color: #EDE9FE;
}

.contact-card-footer .fa-envelope:hover 
{
    color: white;
    background-color: #7F22FE;
}
.contact-card-footer .fa-star{
    color: #FFB900;
    background-color: #FFFBEB;
}

.contact-card-footer .fa-star:hover 
{
    background-color: #FEF3C6;
}
.contact-card-footer .fa-heart-pulse{
    color: oklch(0.586 0.253 17.585);
    background-color: #FFF1F2;
}

.contact-card-footer .fa-heart-pulse:hover 
{
    color: white;
    background-color: oklch(0.586 0.253 17.585);
}

.contact-card-footer .fa-pen,
.contact-card-footer .fa-trash{
    color: #6A7282;
    background-color: transparent;
}

.contact-card-footer .fa-pen:hover 
{
    color: #4F39F6;
    background-color: #EEF2FF;
}


.contact-card-footer .fa-trash:hover 
{
    color: white;
    background-color: #EC003F;
}



/* End Of Main Card */



/* Modal */
.modal {
    --bs-modal-border-color: transparent;
    --bs-modal-border-radius: var(--v-18px);
        --bs-modal-width: 512px;
    --bs-modal-header-padding: var(--v-24px) var(--v-24px);
    /* --bs-modal-padding: 1rem; */
    --bs-modal-header-border-color: #F3F4F6;
    --bs-modal-footer-border-color: #F3F4F6;
    /* --bs-modal-footer-gap: 0.5rem;
    --bs-modal-footer-bg: ;
    --bs-modal-footer-border-color: var(--bs-border-color);
    --bs-modal-footer-border-width: var(--bs-border-width); */
}

/* 
.modal-header .btn-close {
    padding: calc(var(--bs-modal-header-padding-y) * .5) calc(var(--bs-modal-header-padding-x) * .5);
    margin-top: calc(-.5 * var(--bs-modal-header-padding-y));
    margin-right: calc(-.5 * var(--bs-modal-header-padding-x));
    margin-bottom: calc(-.5 * var(--bs-modal-header-padding-y));
    margin-left: auto;
}

.btn-close:hover {
    color: var(--bs-btn-close-color);
    text-decoration: none;
    opacity: var(--bs-btn-close-hover-opacity);
}

.btn-close {
    --bs-btn-close-color: #000;
    --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414'/%3e%3c/svg%3e");
    --bs-btn-close-opacity: 0.5;
    --bs-btn-close-hover-opacity: 0.75;
    --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-btn-close-focus-opacity: 1;
    --bs-btn-close-disabled-opacity: 0.25;
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
    color: var(--bs-btn-close-color);
    background: transparent var(--bs-btn-close-bg) center/1em auto no-repeat;
    filter: var(--bs-btn-close-filter);
    border: 0;
    border-radius: .375rem;
    opacity: var(--bs-btn-close-opacity);
} */

/* #99A1AF */
/* لون ال x */


.modal-title{
    color: oklch(0.21 0.034 264.665);
    font-size: var(--fz-14);
}




.save-contact,
.cancel-contact{
    transition: all 0.3s ease;
    padding-inline: var(--v-12px);
    padding-block: var(--v-8px);
    border-radius: var(--v-10px);
    font-size: var(--fz-14);
    width: 100%;
}


.save-contact:hover,
.cancel-contact:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 9px 2px rgba(139, 92, 246, 0.3);
}


.modal-dialog {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  top: 15%;
}


.modal-content {
  height: 500px;
}
.modal-body::-webkit-scrollbar {
    display: none;
}

.modal-body {
    -ms-overflow-style: none;  
    scrollbar-width: none;    
    overflow-y: scroll;
}



.modal-body label{
    color: oklch(0.373 0.034 259.733);
    font-size: var(--fz-12);
}

.modal-body .form-control,
.modal-body .form-select{
    padding-inline: var(--v-20px);
    padding-block: var(--v-12px);
    border-radius: var(--v-12px);
    transition: 0.3s ease all;
    background-color: #F9FAFB;
}

.modal-body .form-control:focus,
.modal-body .form-select:focus
 {
    border-color: #B895FF;
    outline: 0;
    box-shadow: 0 0 0 0 transparent;
    background-color: white;
}

.modal .fa-star{
    color: #FFA100;
}
.modal .fa-heart-pulse{
    color: #F91447;
    
}

.modal .form-check-input:focus {
    border-color: #dee2e6;
    outline: 0;
    box-shadow: 0 0 0 0 transparent;
}






/* End Of Modal */






/* Media Queries If Exists */


@media (min-width: 576px) {
    .custom-container{
    padding-inline: var(--v-32px);
}
h1{
    font-size: var(--fz-24);
}

.add-contact{
    padding-inline: var(--v-25px);
  
}


.fa-address-book {
    border-radius: var(--v-14px);
    padding: var(--v-24px);
}



.contact-search .form-control {
    width: 94%;
}

.form-control::placeholder
,.fa-magnifying-glass{
    font-size: var(--fz-14);
    
}



.modal-title{
    font-size: var(--fz-20);
}


.save-contact,
.cancel-contact{
    
    width: 45%;
}

.modal-dialog {

  top: 5%;
}


.modal-body label{
    font-size: var(--fz-14);
}




}

@media (min-width: 768px) {

 .fa-bell,   
 .fa-gear{
    margin-right: var(--v-20px); 
}    


.contact-search .form-control {
    width: 96%;
}    





}

@media (min-width: 992px) {

   
}

@media (min-width: 1200px) {

        
}

@media (min-width: 1400px) {
    
}

