/* Define Basic Configurations */


:root{
    --half-rem: 0.5rem;
    --one-rem: 1rem;
    --one-half-rem: 1.5rem;
    --two-rem: 2rem;
    --two_half-rem: 2.5rem;
    --three-rem: 3rem;
    --v-8px: 8px;
    --v-10px: 10px;
    --v-12px: 12px;
    --v-14px: 14px;
    --v-15px: 15px;
    --v-18px: 18px;
    --v-20px: 20px;
    --v-22px: 22px;
    --v-24px: 24px;
    --v-25px: 25px;
    --v-30px: 30px;
    --v-32px: 32px;
    --fz-10: 10px;
    --fz-11: 11px;
    --fz-12: 12px;
    --fz-14: 14px;
    --fz-16: 16px;
    --fz-18: 18px;
    --fz-20: 20px;
    --fz-24: 24px;
    --fz-30: 30px;
    --fz-32: 32px;
    --fz-35: 35px;
    --fz-36: 36px;
    --fz-40: 40px;
    --fz-48: 48px;
    --fz-60: 60px;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
}



body {
    font-family: 'Inter', sans-serif;
}

.custom-container{
    padding-inline: 0;
}

/* End of Basic Configurations */


/* navBar */

.navbar{
 border-bottom: #F5F7F9 solid 2px !important;
}

.fa-address-book {
    background: linear-gradient(to right, #7D24FD,#5139F7);
    width: 15px;
    height: 15px;
    box-shadow: 0 5px 10px -7px gray;
    padding: var(--v-18px);
    border-radius: var(--half-rem);
}

h1{
    font-size: var(--fz-16);
    color: oklch(0.21 0.034 264.665);
}

.h1-p{
    font-size: var(--fz-12);
    font-weight: var(--fw-500);
    color: oklch(0.551 0.027 264.364);
}

.profile-picture{
       width: 40px;
    height: 40px;
    border-radius: var(--v-10px);
    box-shadow: 0 5px 10px -7px gray;
}


.fa-bell,
.fa-gear{
    color: #6A7282;
    background-color: transparent;
    padding-inline: var(--v-20px);
    border-radius: var(--v-12px);
    transition: all 0.3s ease;
}

.fa-bell:hover,
.fa-gear:hover{
    color: #364153;
    background-color: #F3F4F6;
}


.add-contact{
    background: linear-gradient(to right, #7D24FD,#5139F7);
    transition: all 0.3s ease;
    padding-inline: var(--v-12px);
    padding-block: var(--v-8px);
    border-radius: var(--v-12px);
    font-size: var(--fz-14);
}

.add-contact:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 9px 2px rgba(139, 92, 246, 0.3);
}
/* End Of navBar */

/* Main Card */

.main-card{
    background: linear-gradient(to right, #F8FAFC, #EEF5FD);
}

.info-card{
    padding:  var(--v-20px);
    transition: all 0.3s ease;
    box-shadow: 0 0 5px 2px #E4E5E7;
}

.info-card:hover {
    box-shadow: 0 6px 10px -5px #DFE1E2;
}
.info-card .icon{
    height: 15px;
    padding: var(--v-24px);
    border-radius: var(--v-12px);
}

.fa-users{
    background: linear-gradient(to right, #2374FF,#1B68FE);
    box-shadow: 0 7px 10px 2px #d4e5fd;
}

.fa-star{
    background: linear-gradient(to right, #FFA100,#FF8300);
    box-shadow: 0 7px 10px 2px #FFEAC8;
    
}
.fa-heart-pulse{
    background: linear-gradient(to right, #F91447,#EF002D);
    box-shadow: 0 7px 10px 2px #FFCFDB;
    
}


.info-card .info-name{
    font-size: var(--fz-12);
    color: oklch(0.551 0.027 264.364);
}


.info-card .info-number{
    color: oklch(0.21 0.034 264.665);
    font-size: var(--fz-24);
    font-weight: var(--fw-500);
}

.title{
    font-size: var(--fz-30);
    color: oklch(0.21 0.034 264.665);
}


.title-des{
    font-size: var(--fz-14);
    color: oklch(0.551 0.027 264.364);
}

.contact-search{
    border: 1px solid #e3e7f5;
    transition: all 0.3s ease;
}

.contact-search:focus-within{
    border: 1px solid #B895FF;
}

.contact-search .form-control {
    display: inline;
    width: 88%;
    padding: 0;
    color: #A6A1AF !important;
    border: transparent !important;
}

.form-control::placeholder
,.fa-magnifying-glass{
    color: #99A1AF;
    font-size: var(--fz-12);
    
}

.contact-search .form-control:focus {
   box-shadow: 0 0 0 0 transparent ;
}


.favorites-section
{
    border: 2px solid gainsboro;
   background: linear-gradient(to right, #FFFBEB,#FFF7ED);

}

.emergency-section{
    border: 2px solid gainsboro;
   background: linear-gradient(to right, #FFF1F2,#FEF2F2);

}




.favorites-section .icon,
.emergency-section .icon {
    height: var(--v-15px);
    padding: var(--v-20px);
    border-radius: 8px;
    font-size: var(--v-15px);
}


.favorites-section .name
,.emergency-section .name{
    color:oklch(0.21 0.034 264.665);
    font-size: var(--fz-16);

}

.favorites-section .des,
.emergency-section .des{
    color:oklch(0.551 0.027 264.364);
    font-size: var(--fz-11);
}

.no-favorites,
.no-emergency{
    font-size: var(--fz-14);
    height: 150px;
    color:oklch(0.707 0.022 261.325);
    border-bottom-right-radius: var(--one-rem);
    border-bottom-left-radius: var(--one-rem);
}
.justify-border{
    border-bottom:2px  solid gainsboro;
}




/* End Of Main Card */






/* Media Queries If Exists */


@media (min-width: 576px) {
    .custom-container{
    padding-inline: var(--v-32px);
}
h1{
    font-size: var(--fz-24);
}

.add-contact{
    padding-inline: var(--v-25px);
  
}


.fa-address-book {
    border-radius: var(--v-14px);
    padding: var(--v-24px);
}



.contact-search .form-control {
    width: 94%;
}

.form-control::placeholder
,.fa-magnifying-glass{
    font-size: var(--fz-14);
    
}



}

@media (min-width: 768px) {

 .fa-bell,
 .fa-gear{
    margin-right: var(--v-20px);
}


.contact-search .form-control {
    width: 96%;
}


}

@media (min-width: 992px) {

   
}

@media (min-width: 1200px) {

        
}

@media (min-width: 1400px) {
    
}

