/* Define Basic Configurations */


:root{
    --half-rem: 0.5rem;
    --one-rem: 1rem;
    --one-half-rem: 1.5rem;
    --two-rem: 2rem;
    --two_half-rem: 2.5rem;
    --three-rem: 3rem;
    --v-12px: 12px;
    --v-15px: 15px;
    --v-20px: 20px;
    --v-22px: 22px;
    --v-24px: 24px;
    --fz-10: 10px;
    --fz-12: 12px;
    --fz-14: 14px;
    --fz-16: 16px;
    --fz-18: 18px;
    --fz-20: 20px;
    --fz-24: 24px;
    --fz-30: 30px;
    --fz-32: 32px;
    --fz-35: 35px;
    --fz-36: 36px;
    --fz-40: 40px;
    --fz-48: 48px;
    --fz-60: 60px;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    /* --main-color:oklch(0.21 0.034 264.665);
    --sec-color: oklch(0.446 0.03 256.802); */
}

body{
    font-family: system-ui, sans-serif;
}


/* End of Basic Configurations */


/* navBar */


/* End Of navBar */

/* Main Card */



/* End Of Main Card */






/* Media Queries If Exists */


@media (min-width: 576px) {



}

@media (min-width: 768px) {



}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

        
}

@media (min-width: 1400px) {
    
}

